* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Mulish', sans-serif;
}

html, body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
}

.main-section {
	display: grid;
	grid-template-columns: 1fr;
}

.display-section > img {
	width: 100%;
	height: auto;
}

.display-section {
	display: flex;
	justify-content: center;
	height: 300px;
}

.info p {
	height: 120px;
	overflow-y: scroll;
}

.info {
	display: flex;
	flex-direction: column;
	padding: 10px 30px;
	line-height: 25px;

}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -100px;
	border-top-right-radius: 35px;
	border-top-left-radius: 35px;
  	background: #ffffff;
  	padding: 20px;
}

.buttons {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}

.buttons button {
	border-radius: 35px;
	background-color: #75c846;
	border:none;
	padding: 20px;
	font-size: 15px;
	color: #FFFFFF;
}

.details h2 {
	margin-top: 20px;
	color: #75c846;
}

#list li{
	margin: 5px 0px;
}

#list li:last-child {
	margin-bottom: 20px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #D3D3D3;
	height: 1px;
	opacity: 0.2;
	border:none;
}

.circle {
	background-color: white;
	margin-top: -45px;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	text-align: center;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.circle > img {
	width: 100%;
	margin-top: 25px;
}

#list, #direction{
	padding-left: 30px;
}

#direction {
	margin: 15px 0;
}

#comp-name {
	margin-top: 35px;
	color: white;
	position: absolute;
	top: 0;
}